extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus nibh, porta sed ultricies sit amet, mollis sit amet dui. Ut non metus lectus. Curabitur consequat quam eget ullamcorper cursus. Sed quis luctus tellus. Donec dignissim enim tellus. Fusce ultrices enim hendrerit odio posuere, nec egestas lectus sagittis.

                p Pellentesque vitae gravida sem. Pellentesque suscipit ligula tellus, aliquet tempus nisi luctus nec. Ut vitae massa non diam aliquam semper eget sed sem. Mauris suscipit lorem sapien, eu ornare ligula sagittis non. Donec id mollis dolor. Suspendisse porta ex libero, quis lacinia nisi blandit in. Mauris tincidunt accumsan eros ut sollicitudin.

                p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi augue erat, luctus ut condimentum sed, blandit eget mauris. Vestibulum iaculis aliquet nisl in vestibulum. Donec id libero nec dolor viverra commodo. Phasellus quis suscipit lorem. Pellentesque auctor ullamcorper lobortis. Mauris fringilla ut augue vitae volutpat.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid-mb-4")
                    h2.mb-4 Seguridad 
                    p Morbi augue erat, luctus ut condimentum sed, blandit eget mauris. Vestibulum iaculis aliquet nisl in vestibulum. Donec id libero nec dolor viverra commodo. Phasellus quis suscipit lorem. Pellentesque auctor ullamcorper lobortis.
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid-mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Morbi augue erat, luctus ut condimentum sed, blandit eget mauris. Vestibulum iaculis aliquet nisl in vestibulum. Donec id libero nec dolor viverra commodo. Phasellus quis suscipit lorem. Pellentesque auctor ullamcorper lobortis.
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid-mb-4")
                    h2.mb-4 Los Mejres Precios 
                    p Morbi augue erat, luctus ut condimentum sed, blandit eget mauris. Vestibulum iaculis aliquet nisl in vestibulum. Donec id libero nec dolor viverra commodo. Phasellus quis suscipit lorem. Pellentesque auctor ullamcorper lobortis.
    